<div class="container register-form">
    <div class="text-center" style="color: #757575;">
        <div class="card-register">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Ajoute un amis !</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form (submit)="register()">

                    <div class="form-margin">
                        <div class="form-part label-float">
                            <label for="login">Le login de ton amis</label>
                            <input type="text" class="form-control" name="login" placeholder="le login de ton login" [(ngModel)]="credentials.login">

                            <div class="form-error">
                                <p class="text-danger">{{ error.login }}</p>
                            </div>
                        </div>
                        <label for="password">Le mot de passe de ton amis (il pourra le modifier sur son profil</label>
                        <br>
                        <div class="form-part label-float">

                            <input type="password" class="form-control" name="password" placeholder="Le mot de passe de ton amis" [(ngModel)]="credentials.password">

                            <div class="form-error">
                                <p class="text-danger">{{ error.password }}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">L'enregister!</button>

                </form>

            </div>
        </div>
    </div>
</div>