<p *ngIf="!authService.isLoggedIn()">Vous devez vous connecter pour voir les autres dinosaures</p>
<p *ngIf="authService.isLoggedIn() && (!friends || friends.length <= 0)">Vous n'avez pas encore d'amis</p>
<div *ngIf="authService.isLoggedIn() && friends && friends.length > 0">
    <div *ngFor="let user of friends; let index = index">
        <div class="container register-form">
            <div class="text-center" style="color: #757575;">
                <div class="card-register">
                    <div class="card-body px-lg-5 pt-0">
                        <div class="list-group">
                            <p>login : {{ user.login}}</p>
                        </div>
                        <div class="list-group">
                            <p *ngIf="user.family">famille : {{ user.family}}</p>
                        </div>
                        <div class="list-group">
                            <p *ngIf="user.age">age : {{ user.age}}</p>
                        </div>
                        <div class="list-group">
                            <p *ngIf="user.food">La nourriture qu'il aime : {{ user.food}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>