<div *ngIf="async === 1">
    <div *ngIf="!authService.isLoggedIn()" class="container text-center">
        <section class="index-section-1">
            <div class="index-section-1-div-1">
                <h2 class="Text-Pink h2">Vous devez vous connecter pour voir les autres dinosaures</h2>
                <img src="assets\gif\dinosaure-gif-2.gif" alt="matcha-logo" style="width:250px;">
            </div>
        </section>
    </div>

    <div *ngIf="authService.isLoggedIn() && (!users || users.length <= 0)" class="container text-center">
        <section class="index-section-1">
            <div class="index-section-1-div-1">
                <h2 class="Text-Pink h2">Pas de dinausaures en vue</h2>
                <h3 class="h3">Réessaie un peu plus tard</h3>
                <img src="assets\gif\dinosaure-gif-2.gif" alt="matcha-logo" style="width:250px;">
            </div>

        </section>
    </div>

    <div *ngIf="authService.isLoggedIn() && users && users.length > 0">
        <div *ngFor="let user of users; let index = index">
            <div *ngIf="isNotMe(user)">
                <div class="container register-form">
                    <div class="text-center" style="color: #757575;">
                        <div class="card-register">
                            <div class="card-body px-lg-5 pt-0">
                                <img [src]="getProfilPic(user)" style="width: 250px; height: 250px;">

                                <div class="list-group">
                                    <p>login : {{ user.login}}</p>
                                </div>
                                <div class="list-group">
                                    <p *ngIf="user.family">famille : {{ user?.family}}</p>
                                </div>
                                <div class="list-group">
                                    <p *ngIf="user.race">race : {{ user?.race}}</p>
                                </div>
                                <div class="list-group">
                                    <p *ngIf="user.age">age : {{ user.age}}</p>
                                </div>
                                <div class="list-group">
                                    <p *ngIf="user.food">La nourriture qu'il aime : {{ user.food}}</p>
                                </div>
                                <div class="list-group">
                                    <button class="btn btn-success" (click)="addToFriends(user)">Ajouter en amis</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>