<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/"><img src="assets\img\dinosaure-1.png" alt="matcha-logo" style="width:40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngIf="auth.isLoggedIn()" class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green-first" routerLink="/users/profile">Mon profil</a>
            </li>
            <li *ngIf="auth.isLoggedIn()" class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green-first" routerLink="/users/profile">Mes amis</a>
            </li>
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green-first" routerLink="/users/list">Autour de moi</a>
            </li>
        </ul>
        <!-- item navbar to the right -->
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!auth.isLoggedIn()" class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green nav-btn-loggout" routerLink="auth/signup">crée un compte</a>
            </li>
            <li *ngIf="!auth.isLoggedIn()" class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green nav-btn-sign-in" routerLink="auth/signin">connection</a>
            </li>
            <li *ngIf="auth.isLoggedIn()" class="nav-item active" routerLinkActive="active">
                <a class="nav-link nav-link-green nav-btn-sign-out" routerLink="auth/loggout" (click)="auth.logout()">déconnection</a>
            </li>
        </ul>
    </div>
</nav>