<div class="container register-form">
    <div class="text-center" style="color: #757575;">
        <div class="card-register">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Dis nous qui tu es, petit dinosaure</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form (submit)="register()">

                    <div class="form-margin">
                        <div class="form-part label-float">
                            <label for="login">Votre login</label>
                            <input type="text" class="form-control" name="login" placeholder="Votre login" [(ngModel)]="credentials.login">

                            <div class="form-error">
                                <p>{{ error.login }}</p>
                            </div>
                        </div>
                        <label for="password">Votre mot de passe</label>
                        <br>
                        <div class="form-part label-float">

                            <input type="password" class="form-control" name="password" placeholder="Votre mot de passe" [(ngModel)]="credentials.password">

                            <div class="form-error">
                                <p>{{ error.password }}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">S'enregister!</button>

                </form>

            </div>
        </div>
    </div>
</div>